$background-color: #F4F5F9;

$gradient-color-1: #3877EE;
$gradient-color-2: #EF5DA8;

$text-color: #42567A;

$period-from-color-mobile: #3877EE;
$period-from-color-desktop: #5D5FEF;
$period-to-color: #EF5DA8;

$accent-color: #3877EE;

$shadow-color: rgba(56, 119, 238, 0.10);